<div class="container">
  <%= link_to 'Add Food', new_food_path, class: "btn btn-primary btn-floating mx-1 add-btn "%>


<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Food</th>
        <th scope="col" title="measurement">Measurement unit</th>
        <th scope="col" title="price">Unit price</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @foods.each do |food| %>
        <tr>
          <th scope="row"><%= food.name %></th>
          <td><%= food.measurement_unit %></td>
          <td>$<%= food.price %></td>
          <td><%= link_to 'Delete', food, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>